*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1e2140;
}

.master_wrapper{
    width: 100%;
}

#padding_box{
    position: relative;
    z-index: 1;
    border-radius: 50%;
}

/* #padding_box:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #3b406f, #0b0f26);
    filter: blur(20px);
    display: flex;
    align-items: center;
} */

#container{
    box-shadow: 10px 10px 20px #0f1434, -10px -10px 20px #292d52;
    width: 500px;
    height: 500px;
    background-color: #0f1434;
    border-radius: 50%;
    border: 20px solid transparent;
    background: linear-gradient(135deg, #0f1434, #0f1434) padding-box, linear-gradient(135deg, #0f1434, #292d52) border-box;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#container h1{
    font-size: 80px;
    padding-top: 40px;
    color: #d9e0fd;
}

#container #acao{
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    color: #d9e0fd;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .8rem;
    height: 46px;
    border: 0;
    cursor: pointer;
}

#container #acao[estado=i]{
    color: #d9e0fd;
}

#container #acao[estado=p]{
    color: #d9e0fd;
}

#container #acao[estado=c]{
    color: #d9e0fd;
}

#container .setup{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#container .setup input{
    width: calc(33% - 8px);
    height: 40px;
    padding-left: 8px;
}

#pomodoro_settings{
    position: absolute;
    z-index: 4;
    width: 500px;
    height: 400px;
    display: flex;
    padding: 42px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 40px;
}

.modal{
    width: 500px;
    position: fixed;
    top: 60%;
    left: calc(50% - 250px);
    border-radius: 10px;
    background-color: var(--gray2);
    padding: 16px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition-duration: 200ms;
    transition-delay: 200ms;
}
.modal.active{
    top: 50%;
    opacity: 1;
    visibility: visible;
}

#opcoes{
    z-index: 1;
    width: 50px;
    height: 50px;
    cursor:pointer;
}

#fechar{
    cursor: pointer;
}

#overlay{
    z-index: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    transition-duration: 200ms;
    opacity: 0;
    visibility: hidden;
}

#overlay.active{
    z-index: 3;
    opacity: .65;
    visibility: visible;
}

#pomodoro_settings h2{
    text-transform: uppercase;
    font-weight: 700;
}

#pomodoro_settings input{
    width: 80px;
    height: 40px;
    background-color: #e1e4f0;
    border: 0px solid;
    border-radius: 10px;
}

.set_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.setup{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

label{
    display: flex;
    flex-direction: column;
}

input{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

#pomodoro_settings .mini-title{
    width: 100%;
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 600;
    color: gray;
}